
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 5rem;
  overflow: hidden;
  flex-wrap: wrap;
 
  margin: 5rem;
  padding-left: 10rem;
  
  
  
}
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 40px;
  padding: 3rem 8rem;
}
.mainCard
{
  font-style: bold !important;
  font-Weight: 1000;
}
@media (min-width: 0px) and (max-width: 850px) {
  .grid-container1  {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
.column {
 background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.column:hover {
  cursor: pointer;
}
.column:hover .image {
  opacity: 1;
  scale: 1.0;
  box-shadow: 0 0 9px black;
}
.card-flex-justify-content-center :hover{
  opacity: 1 !important; 
  scale: 1.0;
  box-shadow: 0 0 9px black;
}
.p-card-header :hover{
  cursor: pointer;
  opacity: 1 ; 
  scale: 1.0;
  box-shadow: 0 0 9px black;
}
.image {
  width: 100%;
  height: 204px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  object-fit:cover;
}
.img1 {
  width: 50%;
  height: 50% !important;
  object-fit:cover;

  
}
.columnText {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  position: absolute;
  white-space: normal;
  text-overflow: ellipsis;
}
.column:hover .columnText {
  font-weight: bold;
  z-index: 2;
  scale: 1.1;
  color: rgb(0, 0, 0);
  word-wrap: break-word; 
  overflow-wrap:break-word; 
}



@media (min-width:850px) and ( max-width: 1150px)  {
  .grid-container1 {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
   
  }
 

}
@media  ( max-width: 400px)  {

  .p-card{
    width: 20px;
  }

}
.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root.css-1v5z4dq-MuiPaper-root-MuiCard-root
{
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;

}