.buttons {
  float: left;
  max-width: 200px;
  width: auto;
  margin: 0 2rem;
}
#fridge{
  width: 60%;
  margin: 2rem auto;
  border-radius: 4px;
  box-shadow: 0 0 9px black;
  background-color: white;
}

#upper-section{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 217, 255);
  padding: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
}

#handle{
  width: 20px;
  height: 120px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid gray;
}

#shelf-box{
  float: right;
  margin: 0 2rem;
}

#shelf-list-button{
  background-color:#4b00e9;
  border:none;
  white-space:normal;
  overflow-wrap:break-word;
  width:12rem;
  word-break:break-all;
}

@media (max-width: 1400px) {
  #shelf-box{
  float: none;
  margin: 0;
  }
  #button-container{
    float: none;
    display: flex;
    justify-content: center;
  }
  .buttons{
    margin-top: 1rem;
  }
  #fridge{
    margin: 0 auto;
  }
}
